#chartdiv {
  width: 85%;
}

#chartdiv-content {
  float: left;
  width: 100%;
  height: 500px;
}

#chartdiv-status {
  float: left;
  width: 100%;
  margin: 20px 0px;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: arial;
}

#data-updated-at {
  float: left;
  width: 100%;
  text-align: right;
}
#data-updated-at code {
  color: #676767;
}

#chartdiv-status .status-col {
  float: left;
  width: 95%;
  padding: 3px;
}

#chartdiv-status .status-col ol {
  margin: 5px 0px;
}

#chartdiv-status.normal {
  background-color: #c5f6c5;
  border: 1px solid #007e00;
  color: #095609;
}

#chartdiv-status.aviso {
  background-color: #cfdffb;
  border: 1px solid #5b87e1;
  color: #265477;
}

#chartdiv-status.alerta {
  background-color: #ffffba;
  border: 1px solid #b0b022;
  color: #5a5a02;
}

#chartdiv-status.perigo {
  background-color: #fcd1d1;
  border: 1px solid #c55;
  color: #900404;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 200px) {
  #chartdiv {
    width: 86%;
  }
}
@media (min-width: 400px) {
  #chartdiv {
    width: 90%;
  }
}

/* Larger than phablet */
@media (min-width: 550px) {
  #chartdiv {
    width: 90%;
  }
  #chartdiv-status .status-col {
    width: 47%;
    padding: 5px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  #chartdiv {
    width: 90%;
  }
}

@media (min-width: 830px) {
  #chartdiv {
    width: 78%;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  #chartdiv {
    width: 65%;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #chartdiv {
    width: 56%;
  }
}

